html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.container-index {
  margin: 0 auto;
  padding: 15px;
  max-width: 900px;
  min-height: 400px;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 48px;
  color: #353536;
}

.items-no {
  margin-right: 10px;
  color: #353536;
  display: flex;
  align-items: center;

  .fa-solid.fa-bag-shopping {
    font-size: 24px;
    padding-left: 5px;
    color: #353536;
  }
}

.search-bar {
  background-color: #e3e0e4;
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 1rem;
  color: #6D747E;
  padding-left: 0px;
  text-indent: 15px;
}

.search-btn {
  background: none;
  border: none;
  width: 0px;
  display: none;
}

.top {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 38px;
  margin-bottom: 14px;
  width: 100%;
}

.new-bar {
  background-color: #c4c2c2;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 47px;
  border-radius: 0.2rem;
  color: #6D747E;
  padding-left: 0px;
  text-indent: 15px;
  border: none;

}

.new-top {
  height: 35px;
  margin-bottom: 15px;
  width: 100%;
}

.add-btn {
  display: flex;
  justify-content: center;
  background-color: #1B73E9;
  color: white;
  font-size: 14px;
  border-radius: 0.3rem;
  border: none;
  width: 150px;
  height: 47px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  padding: 8px 0px;
  margin-left: 10px;

  a{
    color: white;
    text-decoration: none;
  }
}

.add-btn:hover {
  transform: scale(1.02);
}

.delete-all {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.delete-all-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  width: 100%;
  height: 35px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 8px 5px;
  background-color: none;

  a{
    color: #6A696A;
    text-decoration: underline;
    text-align: right;
  }
}

.delete-all-btn:hover {
  a {
  color: #1B73E9;
  }
}

.video {
  border-radius: 0.3rem;
  width: 100%;
}

.main-list {
  background-color: #F0F0EF;
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 0.3rem;
  margin-right: 10px;
  color: black;
}
