html, body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1000px;
  border: 2px solid green;
}

.search-bar {
  background-color: #D8D9D8;
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 0.3rem;
  margin-right: 10px;
}

.top {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.add-btn {
  display: flex;
  justify-content: center;
  background-color: #1B73E9;
  color: white;
  font-size: 14px;
  border-radius: 0.3rem;
  width: 150px;
  height: 35px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  padding: 8px 0px;

  a{
    color: white;
    text-decoration: none;
  }
}

.add-btn:hover {
  transform: scale(1.03);
}
