<%= turbo_frame_tag "modal" do %>
  <div class="container-index">
    <div class="header">
      <h3>Your Saved Items</h3>
      <h3 class="items-no"><%= current_user.bookmarks.length %><i class="fa-solid fa-bag-shopping"></i></h3>
    </div>
      <div id="item-card">
        <%= render "users/bookmark" %>
      </div>
  <%= turbo_page_requires_reload %>
<% end %>
</div>
