<div class="item-details">
  <div class="item-name">
    <% bookmark = current_user.bookmarks.find_by(item: item) %>
    <% if current_user.bookmarks.find_by(item: item).nil? %>
      <div class="save-btn">
        <%= button_to "", bookmarks_path,
        params: { bookmark: { item_id: item.id }},
        method: :post,
        class:"fa-regular fa-bookmark"%>
      </div>
    <% else %>
      <div class="save-btn">
        <%= button_to "", bookmark_path(bookmark),
        method: :delete,
        class:"fa-solid fa-bookmark"%>
      </div>
    <% end %>
    <%= item.name %>
  </div>

  <div class="delete-btn" style="color: #000000">
    <%= link_to "", item_path(item),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this item?"},
    class:"fa-solid fa-trash"%>
  </div>
</div>
