<h1>My Shopping List</h1>

<div class="main-list">
  <% @items.each do |item| %>
    <%# <li><%= link_to item.name, items_path(item)  %>
    <li><%= item.name %></li>
    </div>
      <p class="delete-btn" style="color: #000000"><%= link_to "", item_path(item),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class:"fa-solid fa-trash"%>
      </p>
    </div>
  <% end %>
</div>

<p><%= link_to "Add a new item", "/items/new"  %></p>
