<%= turbo_frame_tag "modal", target: :_top do %>
  <div class="modal">
    <div class="modal-inner">
      <div>
        <%= link_to "ð—«", items_path, data: {
            controller: "modals",
            action: "modals#close"
        },  class: "cancel-btn" %>
      </div>
      <h1>New Item</h1>
      <%= render "items/form_modal", item: @item %>
      <br>
    </div>
  </div>
<% end %>
