      <form action="/bookmarks" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="bookmark[item_id]" value="<%= item.id %>">
        <input type="submit" value="Save">
      </form>
      <form action="<%= bookmark_path(bookmark) %>" method="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Unsave">
      </form>
